---
import Layout from '../layouts/Layout.astro';

import "../styles/global.css";
---



<Layout>

  <main class="p-4">
   

<div class="flex flex-col items-center gap-8 text-sm sm:text-base md:text-lg">
  
  <section class="max-w-3xl text-justify">
    <img src="/mision.webp" alt="Misión" class="h-12 sm:h-14 md:h-16 w-auto mx-auto"/>
    <h2 class="font-anton text-primary text-2xl sm:text-3xl text-center">Misión</h2>
    <p>
      Somos una ferretería comprometida en ofrecer productos al alcance de
      todos, con asesoría honesta y personalizada para quienes mejoran su
      hogar o desarrollan grandes proyectos. Buscamos ser un apoyo confiable,
      brindando soluciones prácticas, precios accesibles y un servicio cercano.
    </p>
  </section>

  <section class="max-w-3xl text-justify">
    <img src="/vision.webp" alt="Visión" class="h-12 sm:h-14 md:h-16 w-auto mx-auto"/>
    <h2 class="font-anton text-primary text-2xl sm:text-3xl text-center">Visión</h2>
    <p>
      Queremos ser una ferretería regional reconocida por ofrecer atención
      cercana, precios competitivos y experiencia confiable, capaz de competir
      con las grandes empresas.
    </p>
  </section>

  <section class="max-w-3xl text-justify">
    <img src="/proposito.webp" alt="Propósito" class="h-12 sm:h-14 md:h-16 w-auto mx-auto"/>
    <h2 class="font-anton text-primary text-2xl sm:text-3xl text-center">Propósito</h2>
    <p>
      Queremos ser una ferretería cercana que ofrece asesoría honesta y
      precios justos para ayudar a la comunidad a construir sus proyectos con
      confianza.
    </p>
  </section>

</div>

  
    
  </main>
	
</Layout>